<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AssetSoap" />
                <binding name="AssetSourceSoap" />
                <binding name="CampaignSoap" />
                <binding name="CustomerSoap" />
                <binding name="DataSourceSoap" />
                <binding name="DestinationSoap" />
                <binding name="DocumentSoap" />
                <binding name="FontSoap" />
                <binding name="JobSoap" />
                <binding name="JobMessageSoap" />
                <binding name="JobTicketSoap" />
                <binding name="PlanSoap" />
                <binding name="ProductionSoap" />
                <binding name="UserSoap" />
                <binding name="AccountSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.134.85/xmpiewsapi/Asset.asmx"
                binding="basicHttpBinding" bindingConfiguration="AssetSoap"
                contract="Asset.AssetSoap" name="AssetSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/AssetSource.asmx"
                binding="basicHttpBinding" bindingConfiguration="AssetSourceSoap"
                contract="AssetSource.AssetSourceSoap" name="AssetSourceSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Campaign.asmx"
                binding="basicHttpBinding" bindingConfiguration="CampaignSoap"
                contract="Campaign.CampaignSoap" name="CampaignSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Customer.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerSoap"
                contract="Customer.CustomerSoap" name="CustomerSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Destination.asmx"
                binding="basicHttpBinding" bindingConfiguration="DestinationSoap"
                contract="Destination.DestinationSoap" name="DestinationSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Document.asmx"
                binding="basicHttpBinding" bindingConfiguration="DocumentSoap"
                contract="Document.DocumentSoap" name="DocumentSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Font.asmx"
                binding="basicHttpBinding" bindingConfiguration="FontSoap"
                contract="Font.FontSoap" name="FontSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Job.asmx"
                binding="basicHttpBinding" bindingConfiguration="JobSoap"
                contract="Job.JobSoap" name="JobSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/JobMessage.asmx"
                binding="basicHttpBinding" bindingConfiguration="JobMessageSoap"
                contract="JobMessage.JobMessageSoap" name="JobMessageSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/JobTicket.asmx"
                binding="basicHttpBinding" bindingConfiguration="JobTicketSoap"
                contract="JobTicket.JobTicketSoap" name="JobTicketSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Plan.asmx"
                binding="basicHttpBinding" bindingConfiguration="PlanSoap"
                contract="Plan.PlanSoap" name="PlanSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Production.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductionSoap"
                contract="Production.ProductionSoap" name="ProductionSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/User.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserSoap"
                contract="User.UserSoap" name="UserSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/DataSource.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataSourceSoap"
                contract="DataSource.DataSourceSoap" name="DataSourceSoap" />
            <endpoint address="http://172.17.134.85/xmpiewsapi/Account.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountSoap"
                contract="Account.AccountSoap" name="AccountSoap" />
        </client>
    </system.serviceModel>
</configuration>